<html>
<head>
  <title>Node Koa Mongo Swig seed</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container" style="width: 600px">
    {% block content %}
    {% endblock %}
  </div>
  <div class="row">
    <footer class="col-xs-12 footer" style="text-align: center; bottom: 0px; margin: 1.2em;">
      <a href="https://www.github.com/lambtron/node-koa-mongo-swig-seed">Github</a> | Made with <span class="glyphicon glyphicon-heart" style="color: #EE2C2C"></span> by <a href="http://www.twitter.com/andyjiang">@andyjiang</a>
    </footer>
  </div>
</body>
</html>